*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container{
	width: 900px;
	height: 600px;
}

aside, main{
	height: 100%;
}

aside{
	background-color: #F8F7EE;
	width: 20%;
	float: left;
}

main{
	width: 80%;
	float: right;
	overflow: hidden;
}

.section-box{
	height: 100%;
	margin-bottom: 0;
}

#home-page{
	background-image: url("../images/bg1.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}

.company-logo{
	width: 80%;
	margin: 20px auto;
	background-color: #F8F7EE;
	height: 100px;
}

.company-logo > img{
	width: 100%;
	height: 100%;
}

ul{
	background-color: #80B9F5;
	margin: 5px auto;
	width: 80%;
}

ul > a{
	margin: 0 auto;
	display: inline-block;	
	width: 100%;
}

.white-border-box{
	border: 1px solid white;
	width: 300px;
	position: relative;
	top: 50%;
	margin: 0 auto;
	transform: translate(0, -50%);
}

.home-header, .home-description{
	text-align: center;

}

.home-header{
	margin-top: 10px
}

.home-description{
	margin-bottom: 10px;
}

.nav-item{
	text-align: center;
	display: inline-block;
	padding: 10px;
	width: 100%;
}

#about-page{
	background-image: url("../images/bg2.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}

.section-header{

}

.section-header, .section-paragraph{
	margin: 30px 30px 0 30px;
	text-align: left;
	display: inline-block;
}

#services-page{
	background-image: url("../images/bg3.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}

.services-list{
	width: 100%;
	height: 90%;
}

.services-box{
	border: 1px solid black;
	width: 31.5%;
	height: 90%;
	overflow: hidden;
	margin-top: 20px;
	margin-left: 10px;
	padding: 5px;
	float:left;
	border-radius: 5px;
	position: relative;
}

.clear:after{
	content: " ";
	clear: both;
	display: block;
}

.services-thumbnail{
	width: 50px;
	height: 50px;
	/*border: solid black;*/
	float: left;
}

.services-thumbnail > img{
	width: 100%;
	height: 100%;
}

.services-thumbnail-description{
	margin-top: 20px;
	overflow: hidden;
}

.btn-learn{
	position: absolute;
	top: 90%;
	left: 65%;
	background-color: #E3A90E;
	border-radius: 5px;
	padding: 2px;
	
}
#projects-page{
	background-image: url("../images/bg4.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}

/*.projects-header, .project-paragraph{
	margin-left: 10px;
}
*/
#gallery-page{
	background-image: url("../images/bg5.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}

.services-thumbnail-header,.services-thumbnail-description,.gallery-header, .gallery-paragraph{
	color: white;
}
#contact-page{
	background-image: url("../images/workspace.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-color: #E05915;
}

.item-list{
	width: 80%;
	height: 90%;
	margin: 0 auto;
	position: relative;
}

.contact-item{
	width: 30%;
	height: 80%;
	float: left;
	margin-left: 1.5%;
	margin-right: 1.5%;
	position: relative;
	top: 20%;
}

.contact-item > img{
	width: 90%;
	height: 30%;
	margin: 10px;
	border-radius: 100%;
	
}
.contact-name, .contact-description{
	text-align: center;
	color: #002266;

}

.home-header{
	font-size: xx-large;
	color: #002266;
}