*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	
	max-width: : 960px;
}

.container{
	max-width: : 960px;
	/*max-width: 1000px;*/
	/*height: 700px;*/
}

aside, main, .hidden-division{
	height: 100%;
}

main, .hidden-division{
	float: left;
}

aside{
	background-color: #F8F7EE;
	position: fixed;
	/*width: 251px;	*/
}

main{
	/*width: 80%;*/
	/*margin-left:20%;*/
}


.section-box{
	height: 700px;
	margin-bottom: 5px;
	padding: 10px;
	background-image: url("../images/bg1.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}

.section-header, .section-paragraph{
	margin-left: 10px;
	text-align: left;
}

.section-paragraph{
	margin-top: 10px;
	font-size: large;
}	


#home-page{

}

.company-logo{
	width: 80%;
	margin: 0 auto;
	height: 100px;
}

.company-logo > img{
	width: 100%;
	height: 100%;
	max-width: 100px;
	min-width: 50px;

	display: block;
	margin: 0 auto;
}

ul{
	background-color: #80B9F5;
	margin: 5px auto;
	width: 80%;
	max-width: 200px;
}

ul > a{
	margin: 0 auto;
	display: inline-block;	
	width: 100%;
}

.nav-item{
	text-align: center;
	display: inline-block;
	padding: 10px;
	width: 100%;
	border: 1px solid darkblue;
}

.white-border-box{
	border: 1px solid white;
	/*width: 50%;*/
	max-width: 300px;
	position: relative;
	top: 50%;
	margin: 0 auto;
	transform: translate(0, -50%);
}

.home-header, .home-description{
	text-align: center;
}

.home-header{
	margin-top: 10px;
}

.home-description{
	margin-bottom: 10px;
}



#about-page{

}

.about-paragraph{

}

.about-header{

}


#services-page{

}

.services-header{
	margin-top: 10px;
	margin-left: 10px;
}

.services-list{
	width: 90%;
	height: 100%;
}

.services-box{
	border-right: 1px solid lightblue;
	width: 30%;
	height: 90%;
	overflow: hidden;
	margin-top: 20px;
	margin-left: 3%;
	padding-right: 5px;
	float:left;
	position: relative;
}

.clear:after{
	content: " ";
	clear: both;
	display: block;
}

.services-thumbnail{
	width: 50%;
	height: 50%;
	max-width: 100px;
	max-height: 100px;
	min-width: 25px;
	min-height: 25px;	
	margin-right: 10px;
	float: left;
}

.services-thumbnail-header{
	/*
	overflow: hidden;*/
}

.services-thumbnail > img{
	width: 100%;
	height: 100%;
}

.thumbnail-desc-cont{
	margin-top: 20px;
	overflow: hidden;
	height: 400px;
	padding-bottom: 10px;
	margin-bottom: 10px;
}

.services-thumbnail-description{
	
	
}

.btn-learn{
	position: absolute;
	bottom: 5%;
	right: 1%;
	background-color: #E3A90E;
	border-radius: 5px;
	padding: 5px;
	
}

#projects-page{

}

.projects-header, .project-paragraph{

}

#gallery-page{

}

.gallery-header, .gallery-paragraph{

}

#contact-page{

}

.section-article{
	height: 100%;
	width: 100%;
	margin-top: 20px;
}


.home-header{
	font-size: xx-large;
	color: #002266;
}

.section-header{
	font-size: x-large;
	color: #002266;
}

#submit{
	background-color: #E3A90E;
	border-radius: 5px;
	padding: 5px;
}
#name-label{
	margin-top: 20px;
}

.inputs{
	width: 50%;
	margin-bottom: 10px;
	line-height: 20px;
}

.col-lg-1{  width:  8.33%; }
.col-lg-2{  width: 16.66%; }
.col-lg-3{  width: 24.99%; }
.col-lg-4{  width: 33.32%; }
.col-lg-5{  width: 41.65%; }
.col-lg-6{  width: 49.98%; }
.col-lg-7{  width: 58.31%; }
.col-lg-8{  width: 66.64%; }
.col-lg-9{  width: 74.97%; }
.col-lg-10{ width: 83.3%;  }
.col-lg-11{ width: 91.63%; }
.col-lg-12{ width: 99.96%; }


/* Mobile Styles*/
@media only screen and (max-width: 400px){
	.col-sm-1{  width:  8.33%; }
	.col-sm-2{  width: 16.66%; }
	.col-sm-3{  width: 24.99%; }
	.col-sm-4{  width: 33.32%; }
	.col-sm-5{  width: 41.65%; }
	.col-sm-6{  width: 49.98%; }
	.col-sm-7{  width: 58.31%; }
	.col-sm-8{  width: 66.64%; }
	.col-sm-9{  width: 74.97%; }
	.col-sm-10{ width: 83.3%;  }
	.col-sm-11{ width: 91.63%; }
	.col-sm-12{ width: 99.96%; }

	body{
		max-width: 400px;
	}

	.container{
		max-width: 400px;
	}

	p{
		font-size: smaller;
	}

	.section-box{
		max-height: 450px;
	}

	.home-header{
		font-size: large;
		color: #002266;
	}

	.services-box{
		max-height: 90%;
	}

    .thumbnail-box{
    	height: 15%;
    }

	.services-thumbnail{
		margin-bottom: 5px;
	}

	.thumbnail-desc-cont{
		max-height: 200px;
	}



}

/*Tablet Styles*/
@media only screen and (min-width: 401px) and (max-width: 700px){
	.col-md-1{  width:  8.33%; }
	.col-md-2{  width: 16.66%; }
	.col-md-3{  width: 24.99%; }
	.col-md-4{  width: 33.32%; }
	.col-md-5{  width: 41.65%; }
	.col-md-6{  width: 49.98%; }
	.col-md-7{  width: 58.31%; }
	.col-md-8{  width: 66.64%; }
	.col-md-9{  width: 74.97%; }
	.col-md-10{ width: 83.3%;  }
	.col-md-11{ width: 91.63%; }
	.col-md-12{ width: 99.96%; }

	body{
		max-width: 700px;
	}

	.container{
		max-width: 700px;
	}

	.section-box{
		max-height: 660px;
	}

	p{
		font-size: small;
	}

	.home-header{
		font-size: x-large;
		color: #002266;
	}

	.services-box{
		max-height: 90%;
	}
    .thumbnail-box{
    	height: 15%;
    }

	.services-thumbnail{
		margin-bottom: 5px;
	}

	.thumbnail-desc-cont{
		max-height: 200px;
	}	
}

